#result-detail__close {
  width: 100%;
}

#result-detail__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  text-align: center;
}

#result-detail__card__content {
  margin: 0 5rem;
}

#result-detail__header {
  text-align: center;
  color: darkred;
  font-family: "Bangers", cursive;
}
