app-result-detail.ion-page {
  height: 700px;
  --height: 700px;
}
#result-detail__content {
  height: 700px;
  --height: 700px;
}

#result-detail__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#result-detail__card__content {
  margin: 0 5rem;
}

#result-detail__header {
  text-align: center;
  color: darkred;
  font-family: "Bangers", cursive;
}
