#movie-spinner {
  position: fixed;
  height: auto;
  width: 200px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 9;
}

#main-title {
  text-align: center;
  font-family: "Bangers", cursive;
}

#main-footer {
  text-align: center;
  font-family: "Bangers", cursive;
}
