<ion-header>
  <ion-toolbar>
    <ion-title id="main-title">
      <h1>Movie Finder</h1>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ng-container *ngIf="isReady$ | async; else loading">
      <app-search></app-search>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ng-container *ngIf="isReady$ | async; else spinner">
    <app-results></app-results>
  </ng-container>
</ion-content>

<ion-footer id="main-footer">
  <p>
    Made with ❤️ by CamilleBC.
  </p>
</ion-footer>

<ng-template #spinner>
  <ion-spinner id="movie-spinner"></ion-spinner>
</ng-template>

<ng-template #loading>
  <ion-text>Loading data from server...</ion-text>
</ng-template>
