#home__toolbar__search {
  text-align: center;
}

#home__loading {
  color: darkred;
  font-family: "Bangers", cursive;
}

#home__footer {
  text-align: center;
  font-family: "Bangers", cursive;
}

#home__spinner {
  position: fixed;
  height: auto;
  width: 200px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 9;
}

#home__title {
  text-align: center;
  font-family: "Bangers", cursive;
}
