<ion-header>
  <ion-toolbar>
    <ion-title>
      Movie Finder
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ng-container *ngIf="isReady$ | async; else loading">
      <app-search></app-search>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="WWisReady$ | async; else spinner">
    <app-results></app-results>
  </ng-container>
</ion-content>

<ion-footer>
  <p>
    Made with ❤️ by CamilleBC.
  </p>
</ion-footer>

<ng-template #spinner>
  <ion-spinner class="ionic-spinner"></ion-spinner>
</ng-template>

<ng-template #loading>
  <ion-text>Loading data from server...</ion-text>
</ng-template>