<ion-header>
  <ion-toolbar>
    <ion-title>
      Movie Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar> </ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header>
          Movie
        </ion-card-header>

        <ion-card-content>
          <ion-label>Movie description</ion-label>
          <!-- Add card content here! -->
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          Movie
        </ion-card-header>

        <ion-card-content>
          <ion-label>Movie description</ion-label>
          <!-- Add card content here! -->
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <p>
    Made with ❤️ by CamilleBC.
  </p>
</ion-footer>
